*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ceb3b1eb-2673-4dd9-a6e3-0cd7a5e130ee/7540883d-de7a-4a69-8cc6-c3885d3a2b0b/IN-en-20230522-popsignuptwoweeks-perspective_alpha_website_large.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   filter: blur(50%);    
}

.netflixlogo{
width: 13rem;
justify-content: center;
align-items: center;
display: flex;
}

.container{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0, 0.75);
    border-radius: 4px;
    padding: 8rem;
    /* z-index: 10; */
    display: flex;
    flex-direction: column;
}

.signInForm{
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding:4rem ;
    margin-bottom: 5rem;
}

.signInForm
{

    background-color: black;
}
.formDiv .text
{
    color: red;
    font-size: 1rem;
}

.signInForm h1{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
    padding-left: 7rem;
}

.formDiv input{
    width: 23rem;
    height: 3rem;
    background-color: #333;
    font-size: 1.2rem;
    /* padding-left: 3rem; */
    border-radius: 4px;
    border: none;
}

.submitBtn{
    width: 21rem;
    height: 3rem;
    background-color: red;
    font-size: 1.2rem;
    margin: 2rem;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 3rem;
}

.signUpBtn{
    border: 0;
    background: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 5rem;
}

.signInForm p{
    padding: 2rem 0 0 4rem;
    color: #666262;
    margin-top: 5rem;
    
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.division{
    width: 100%;
    margin-top: 4rem;

}