*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  
    background-color:rgb(0,8,29);
    font-family: Arial, Helvetica, sans-serif;
     
}


 .brandLogo{
    width: 10%;
  
}

.brandLogo img{
    width: 8rem;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.signInBtn{
    color: white;
    background-color: rgb(229,9,20);
    margin-top: 1.8rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10%;
   padding: 0.3rem;
    cursor: pointer;
    font-weight: 600;
}

.container{
    height: 80%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.center{
    width:90rem;
    height: 26rem;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ceb3b1eb-2673-4dd9-a6e3-0cd7a5e130ee/7540883d-de7a-4a69-8cc6-c3885d3a2b0b/IN-en-20230522-popsignuptwoweeks-perspective_alpha_website_large.jpg"); */
   border-radius: 1%;
}
input{
    width: 21rem;
    height: 3rem;
    background-color: #333;
    font-size: 1.2rem;
    padding-left: 3rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    border: none;
}

.formDiv button{
    width: 21rem;
    height: 3rem;
    background-color: red;
    font-size: 1.2rem;
    margin-top: 2rem;
    color: white;
    filter: blur(10%);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
  
.signUpForm{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0, 0.75);
    border-radius: 4px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 1rem;
   width: 30rem;
   height: 30rem;
}

p{
    color: red;
}
u{
    color: white;
}
   

